<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recipe</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <a href="/dashboard">Home</a>
        <h2>Create Recipe</h2>
        <form action="/create_recipe" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="mb-3">
                <label for="under">Under:</label><br>
                <input type="radio" id="under_yes" name="under" value="1" required>
                <label for="under_yes">Yes</label><br>
                <input type="radio" id="under_no" name="under" value="0">
                <label for="under_no">No</label><br>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
            </div>

            <div class="mb-3">
                <label for="instructions" class="form-label">Instructions:</label>
                <textarea class="form-control" id="instructions" name="instructions" rows="4" required></textarea>
            </div>
            <div>
                <label for="date_made">Date Made:</label><br>
                <input type="date" id="date_made" name="date_made"><br>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
